/*  Offer section */

.offer{
    
}


.offer-item{
    float: left;
    width: 30%;
    margin-bottom: 30px;
    padding: 25px 15px 30px 70px;
    border: 1px solid #e8e8e8;
    position: relative;
  
}

.offer-item .icon{
    position: absolute;
    top:30px;
    left: 20px;
    color: burlywood;
}

.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 1s;
}

.offer-item-desc{
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 15px;
    color: gray;
}

.offer-item:hover .offer-item-title{
    color: white;
}